[Desktop Entry]
Version=1.0
Name=Quick Speech
Comment=Type text and hear it spoken
Exec=quickspeechpi
Path=/usr/share/quickspeechpi/
Icon=accessories-dictionary
Terminal=false
Type=Application
Categories=Utility;AudioVideo;
